@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* body{
    font-family: "Raleway";
  }
  @font-face {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: ulr("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
  } */
  li{
    @apply cursor-pointer;
    @apply p-4;
    @apply hover:text-green-500;
  }
}
.content-div{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 250px;
}
#color:hover {
  background-image: linear-gradient(
      to right,
      rgba(10, 25, 47, .9),
      rgba(34,197, 94, .9)  
  )!important;
}
h1{
  background: linear-gradient(
    45deg,
    #32b555 0%,
    rgb(255, 255, 255) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}